/* seção do carrosel */

.carousel-container {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.carousel-container::after {
    content: "";
    position: absolute;
    inset: 0;

    background-color: rgba(0, 0, 0, 0.35);

    z-index: 1;
    pointer-events: none;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 2;
    color: #ffffff;

    text-align: center;
}

.carousel-text h1 {
    font-size: 80px;
    margin-bottom: 15px;
}

.carousel-text p {
    font-size: 40px;
    max-width: 600px;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    bottom: 30px;

    width: 45px;
    height: 45px;

    border: none;
    border-radius: 50%;

    background-color: #F15A22;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;
}

.carousel-button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.carousel-button.prev {
    left: 30px;
}

.carousel-button.next {
    right: 30px;
}

.carousel-indicators {
    position: absolute;
    bottom: 40px;
    left: 50%;

    transform: translateX(-50%);

    display: flex;
    gap: 10px;

    z-index: 2;
}

.indicator {
    width: 10px;
    height: 10px;

    border: none;
    border-radius: 180px;

    background-color: #B5B5B5;

    cursor: pointer;
}

.indicator.active {
    width: 35px;
    height: 10px;

    background-color: #F15A22;

    border-radius: 10px;
}

/* seção do quem somos */
.quem-somos {
    padding: 70px var(--margem-lateral);
}

.quem-somos-container {
    max-width: var(--largura-conteudo);
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;  
    align-items: center;
}

.quem-somos-texto {
    max-width: 550px;
}

.quem-somos-texto p {
    font-size: 18px;
    line-height: 1.6;
}

.quem-somos-imagem {
    position: relative;
    width: 100%;
    height: 500px;
    left: -15px;
}

.quem-somos-imagem img {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

     border-radius: 25px;

    z-index: 2;
}

.imagem-quadrado { /* quadrado que fica atrás da imagem */

    position: absolute;

    top: 15px;
    left: 15px;

    width: 100%;
    height: 100%;

    background-color: var(--cor-principal);

    z-index: 1;
}

/* seção do nosso time */
.nosso-time {
    padding: 10px var(--margem-lateral);
}

.nosso-time-container {
    max-width: var(--largura-conteudo);
    margin: 0 auto;
}

.nosso-time-texto {
    text-align: center;
    margin-bottom: 20px;
}

.nosso-time-texto h2 {
    margin-bottom: 5px;
}

.nosso-time-texto p {
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
}

.time-carousel {
    position: relative;
    width: 100%;
    padding-bottom: 70px;
}

.time-carousel-container {
    width: 100%;
    overflow: hidden;
}

.time-slide {
    display: none;

    width: 100%;

    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.time-slide.active {
    display: grid;
}

.membro {
    width: 100%;
    text-align: center;
}

.membro img {
    display: block;

    width: 100%;
    aspect-ratio: 1 / 1;

    object-fit: cover;

    border-radius: 20px;

    margin-bottom: 20px;
}

.membro h3 {
    font-size: 20px;

    line-height: 1.2;

    min-height: 30px;

    margin-bottom: 0px;

    color: var(--cor-secundaria);
}

.membro p {
    font-size: 16px;

    line-height: 1.4;

    color: var(--cor-texto);
}

.time-carousel-button {
    position: absolute;

    bottom: 0;

    width: 45px;
    height: 45px;

    border: none;
    border-radius: 50%;

    background-color: #F15A22;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;
}

.time-carousel-button img {
    width: 20px;
    height: 20px;

    object-fit: contain;
}

.time-carousel-button.prev {
    left: 0;
}

.time-carousel-button.next {
    right: 0;
}

.time-carousel-indicators {
    position: absolute;

    bottom: 10px;

    left: 50%;

    transform: translateX(-50%);

    display: flex;

    gap: 10px;
}

.time-indicator {
    width: 10px;
    height: 10px;

    border: none;

    border-radius: 180px;

    background-color: #B5B5B5;

    cursor: pointer;
}

.time-indicator.active {
    width: 35px;
    height: 10px;

    background-color: #F15A22;

    border-radius: 10px;
}

/* seção nossa missão */
.nossa-missao {
    padding: 70px var(--margem-lateral);
}

.nossa-missao-container {
    max-width: var(--largura-conteudo);
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.nossa-missao-imagem {
    position: relative;

    width: 100%;
    height: 500px;
}

.nossa-missao-imagem img {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 25px;

    z-index: 2;
}

.nossa-missao-imagem .imagem-quadrado {
    position: absolute;

    top: 15px;
    left: 15px;

    width: 100%;
    height: 100%;

    background-color: var(--cor-principal);

    z-index: 1;
}

.nossa-missao-texto {
    max-width: 550px;
}

.nossa-missao-texto h2 {
    font-size: 40px;
    margin-bottom: 15px;
    color: var(--cor-principal);
}

.nossa-missao-texto p {
    font-size: 18px;
    line-height: 1.6;
}

/* seção ações desenvolvidas */
.acoes-desenvolvidas {
    padding: 70px var(--margem-lateral);
}

.acoes-desenvolvidas-container {
    max-width: var(--largura-conteudo);
    margin: 0 auto;
}

.acoes-desenvolvidas-texto {
    margin-bottom: 30px;
}

.acoes-desenvolvidas-texto h2 {
    margin-bottom: 5px;
}

.acoes-desenvolvidas-texto p {
    font-size: 18px;
    line-height: 1.6;
}

.acoes-carousel {
    position: relative;
    width: 100%;
    padding-bottom: 70px;
}

.acoes-carousel-container {
    width: 100%;
    overflow: hidden;
}

.acoes-slide {
    display: none;

    width: 100%;

    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.acoes-slide.active {
    display: grid;
}

.acao-card {
    min-height: 450px;

    padding: 30px;

    background-color:var(--cor-fundo);
    border: 3px solid rgba(44, 96, 42, 0.2);

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.acao-card:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    border: 3px solid var(--cor-principal);
}

.acao-card > img {
    width: 100px;
    height: 100px;

    object-fit: contain;

    margin-bottom: 25px;
}

.acao-card h3 {
    font-size: 45px;
    line-height: 1.2;

    margin-bottom: 12px;

    color: var(--cor-secundaria);
}

.acao-card p {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 15px;

    color: var(--cor-texto);
}

.acoes-carousel-button {
    position: absolute;

    bottom: 0;

    width: 45px;
    height: 45px;

    border: none;
    border-radius: 50%;

    background-color: #F15A22;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;
}

.acoes-carousel-button img {
    width: 20px;
    height: 20px;

    object-fit: contain;
}

.acoes-carousel-button.prev {
    left: 0;
}

.acoes-carousel-button.next {
    right: 0;
}

.acoes-carousel-indicators {
    position: absolute;

    bottom: 10px;

    left: 50%;

    transform: translateX(-50%);

    display: flex;

    gap: 10px;
}

.acoes-indicator {
    width: 10px;
    height: 10px;

    border: none;

    border-radius: 180px;

    background-color: #B5B5B5;

    cursor: pointer;
}

.acoes-indicator.active {
    width: 35px;
    height: 10px;

    background-color: #F15A22;

    border-radius: 10px;
}



