/* =========================
   HERO
========================= */

.hero {
    min-height: 500px;
    background-color: var(--cor-principal);

    display: flex;
    align-items: center;
    justify-content: center;
}


/* =========================
   SOBRE
========================= */

.home-sobre {
    padding: 80px 30px;
}


/* =========================
   DESTAQUES
========================= */

.destaques {
    padding: 80px 30px;
}

.destaques-container {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.carousel {
    width: 100%;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 2;
    color: #ffffff;

    text-align: center;
}

.carousel-text h1 {
    font-size: 80px;
    margin-bottom: 15px;
}

.carousel-text p {
    font-size: 40px;
    max-width: 600px;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    bottom: 30px;

    width: 45px;
    height: 45px;

    border: none;
    border-radius: 50%;

    background-color: #F15A22;
    color: #ffffff;

    font-size: 24px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.carousel-button.prev {
    left: 30px;
}

.carousel-button.next {
    right: 30px;
}

.carousel-indicators {
    position: absolute;
    bottom: 40px;
    left: 50%;

    transform: translateX(-50%);

    display: flex;
    gap: 10px;
}

.indicator {
    width: 10px;
    height: 10px;

    border: none;
    border-radius: 180px;

    background-color: #B5B5B5;

    cursor: pointer;
}

.indicator.active {
    width: 35px;
    height: 10px;

    background-color: #F15A22;

    border-radius: 10px;
}

/* =========================
   QUEM SOMOS
========================= */

.quem-somos {
    padding: 100px var(--margem-lateral);
}

.quem-somos-container {
    max-width: var(--largura-conteudo);
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;  
    align-items: center;
}



/* =========================
   TEXTO
========================= */

.quem-somos-texto {
    max-width: 550px;
}

.quem-somos-texto p {
    font-size: 18px;
    line-height: 1.6;
}


/* =========================
   IMAGEM
========================= */

.quem-somos-imagem {
    position: relative;

    width: 500px;
    height: 100%;
}

.quem-somos-imagem img {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

     border-radius: 25px;

    z-index: 2;
}


/* QUADRADO ATRÁS DA IMAGEM */

.imagem-quadrado {
    position: absolute;

    top: 15px;
    left: 15px;

    width: 100%;
    height: 100%;

    background-color: var(--cor-principal);

    z-index: 1;
}

/* =========================
   NOSSO TIME
========================= */

.nosso-time {
    padding: 0px var(--margem-lateral);
}

.nosso-time-container {
    max-width: var(--largura-conteudo);
    margin: 0 auto;
}


/* =========================
   TEXTO
========================= */

.nosso-time-texto {
    text-align: center;
    margin-bottom: 20px;
}

.nosso-time-texto h2 {
    margin-bottom: 5px;
}

.nosso-time-texto p {
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
}


/* =========================
   CARROSSEL
========================= */

.time-carousel {
    position: relative;
    width: 100%;
    padding-bottom: 70px;
}

.time-carousel-container {
    width: 100%;
    overflow: hidden;
}


/* =========================
   SLIDES
========================= */

.time-slide {
    display: none;

    width: 100%;

    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.time-slide.active {
    display: grid;
}


/* =========================
   MEMBRO
========================= */

.membro {
    width: 100%;
    text-align: center;
}

.membro img {
    display: block;

    width: 100%;
    aspect-ratio: 1 / 1;

    object-fit: cover;

    border-radius: 20px;

    margin-bottom: 20px;
}

.membro h3 {
    font-size: 20px;

    line-height: 1.2;

    min-height: 30px;

    margin-bottom: 0px;

    color: var(--cor-texto);
}

.membro p {
    font-size: 16px;

    line-height: 1.4;

    color: var(--cor-texto);
}


/* =========================
   BOTÕES
========================= */

.time-carousel-button {
    position: absolute;

    bottom: 0;

    width: 45px;
    height: 45px;

    border: none;
    border-radius: 50%;

    background-color: #F15A22;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;
}

.time-carousel-button img {
    width: 20px;
    height: 20px;

    object-fit: contain;
}

.time-carousel-button.prev {
    left: 0;
}

.time-carousel-button.next {
    right: 0;
}


/* =========================
   INDICADORES
========================= */

.time-carousel-indicators {
    position: absolute;

    bottom: 10px;

    left: 50%;

    transform: translateX(-50%);

    display: flex;

    gap: 10px;
}

.time-indicator {
    width: 10px;
    height: 10px;

    border: none;

    border-radius: 180px;

    background-color: #B5B5B5;

    cursor: pointer;
}

.time-indicator.active {
    width: 35px;
    height: 10px;

    background-color: #F15A22;

    border-radius: 10px;
}

/* =========================
   NOSSA MISSÃO E OBJETIVOS
========================= */

.nossa-missao {
    padding: 100px var(--margem-lateral);
}

.nossa-missao-container {
    max-width: var(--largura-conteudo);
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}


/* =========================
   IMAGEM
========================= */

.nossa-missao-imagem {
    position: relative;

    width: 500px;
    height: 500px;
}

.nossa-missao-imagem img {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 25px;

    z-index: 2;
}


/* QUADRADO ATRÁS DA IMAGEM */

.nossa-missao-imagem .imagem-quadrado {
    position: absolute;

    top: 15px;
    left: 15px;

    width: 100%;
    height: 100%;

    background-color: var(--cor-principal);

    z-index: 1;
}


/* =========================
   TEXTO
========================= */

.nossa-missao-texto {
    max-width: 550px;
}

.nossa-missao-texto h2 {
    font-size: 40px;
    margin-bottom: 15px;
    color: var(--cor-principal);
}

.nossa-missao-texto p {
    font-size: 18px;
    line-height: 1.6;
}



