/* variaveis globais */
:root {
    --cor-principal: #163812;
    --cor-texto-header: #F9FFF9;
    --cor-secundaria: #EF6B3B;
    --cor-fundo: #F2F9EF;
    --cor-texto: #222222;

    --largura-conteudo: 1200px;
    --margem-lateral: 30px;
}

.container {
    width: 100%;
    max-width: var(--largura-conteudo);
    margin: 0 auto;
    padding: 0 var(--margem-lateral);
}

/* remover margens padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* configurações em tags gerais */
body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);

    padding-top: 120px;
}

h2 {
    text-align: left;
    font-size: 40px;
    margin-bottom: 15px;
    color: var(--cor-principal);
}

/* header do site */
.header {
    width: 100%;
    height: 120px;
    background-color: var(--cor-principal);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-container {
    max-width: var(--largura-conteudo);
    height: 100%;
    margin: 0 auto;
    padding: 0 var(--margem-lateral);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 100%;
}

.logo img {
    height: 100%;
    width: auto;
}

.menu {
    display: flex;
    gap: 80px;
    margin-top: 20px;
}

.menu a {
    text-decoration: none;
    color: var(--cor-texto-header);
}